body {
    background-color: #293036;
}

.droppable {
    width: 250px;
    min-height: 37px;
    text-align: center;
    background-color: #dddddd;
    margin: 10px;
    cursor: pointer;
    border-image: linear-gradient(to bottom, #c8aa6d, #7a5c29);
    border-width: 2px;
    border-style: solid;
    border-image-slice: 1;
    background: #1e2328;
}

.droppable-hover {
    box-shadow: 0 0 8px 0 #ffffff50;
    background: linear-gradient(to bottom, #1e2328, #433d2b);
    transition: 0.1s;
}

.droppable:hover {
    box-shadow: 0 0 8px 0 #ffffff50;
    background: linear-gradient(to bottom, #1e2328, #433d2b);
    transition: 0.1s;
}

.champion {
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 20px;
}

.draggable {
    font-family: 'Marcellus SC', serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 5px 15px; 
    background: #1e2328;
    color: #cdbe91;
    border-image: linear-gradient(to bottom, #c8aa6d, #7a5c29);
    border-width: 2px;
    border-style: solid;
    margin: 5px; 
    border-image-slice: 1;
}

.draggable:hover {
    text-shadow: 0 0 5px #ffffff80;
    box-shadow: 0 0 8px 0 #ffffff50;
    background: linear-gradient(to bottom, #1e2328, #433d2b);
    cursor: pointer;
    transition: 0.1s;
}

.draggable:active {
    text-shadow: none;
    box-shadow: none;
    color: #cdbe9130;
}

.words {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 10px;
}

.pictures {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

h1 {
    text-align: center;
    font-family: 'Marcellus SC', serif;
    font-size: 40px;
    font-weight: bold;
    color: #cdbe91;
}

h2 {
    text-align: center;
    font-family: 'Marcellus SC', serif;
    color: #cdbe91;
    font-weight: bold;
}

.misses {
    text-align: center;
    font-family: 'Marcellus SC', serif;
    font-size: 40px;
    font-weight: bold;
    border-bottom: 2px wave black;
    color: hsl(357, 52%, 45%);
}